@import "tailwindcss";


@theme {
  --font-bangla: var(--font-noto-bengali), "Noto Sans Bengali", sans-serif;

  --color-primary: #0d9488;
  --color-secondary: #f97316;
}


@layer base {
  body {
    background-color: #f9fafb;
    color: #1f2937;
  }
}